# src: [postgresql-docker-hub-page](https://hub.docker.com/_/postgres#environment-variables)
# TODO: Check if root pw needs to be set as well.
POSTGRES_PASSWORD=ikni                  # root pw
POSTGRES_USER=inki                      # root user_name
