<div class="row">
	<div class="col-md-12"> 
		<h2>
			<%= t(@controller_name) %>
		</h2>
		<div id="<%= "#{@ajax_id}_index_options" %>">
			<%= render :partial => "layouts/index_options" %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<%= render :partial => "layouts/index_table" %>
	</div>
</div>
