<!-- this layout generates the menu -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only"><%= t(:toggle_navigation) %></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<%= link_to(Rails.configuration.inki.brand, '/', :class => "navbar-brand") %>
	</div>
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<% if @menu_items and @menu_items.size > 0 %>
				<% a_m = active_menu(@menu_items) %>
				<% logger.info("active menu is: #{a_m}") %>
				<%= menu_link(@menu_items, 0, :active_menu => a_m) %>
			<% end -%>
		</ul>
		<%= render(:file => "layouts/menu_extra", :handlers => [:erb]) %>
	</div> <!-- collapse -->
</nav> <!-- navbar -->
